.infoBox {
	margin-top: 1em;

	.orange-box {
		float: left;
	}

	h3 {
		clear: right;
		vertical-align: middle;
		font-size: 0.9em;
		font-weight: bold;
		color: black;
		padding: 0 0 0 1.5em;
		margin: 0;
	}
}
