$mobile: "(min-width: 0px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

.app {

    font-size: 1rem;
    // font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    padding: 10px;

  
    // p- tag for app

    p {
        font-size: 1rem;
    }


    A {

        text-decoration: none;
        color: black;

    }

    A:hover {
        text-decoration: none;

    }

    .content-area {

        -webkit-transition: padding 0.4s ease-in-out;
        -moz-transition: padding 0.4s ease-in-out;
        -o-transition: padding 0.4s ease-in-out;
        transition: padding 0.4s ease-in-out;
        
        text-align: justify;
        padding: .5rem 0rem;

    }

    .nav-area {

        display: none;

    }


    .mobile-menu {

        display: flex;
        display: -webkit-flex;

    }


    @media #{$tablet} {

        .content-area {
        
            text-align: justify;
            padding: 2rem 0rem;
    
        }

        .nav-area {

            display: flex;

        }

        .mobile-menu {

            display: none;

        }

    }

    @media #{$desktop} {

        .content-area {
        
            text-align: start;
            padding: 5rem 0;
    
        }

        .nav-area {

            display: flex;/* 
            margin-top: 0rem;
            margin-bottom: 2rem; */

        }

        .mobile-menu {

            display: none;

        }



    }

}