$mobile: "(min-width: 0px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

.app {

    // background-color: white;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    padding: 10px;

    A {

        text-decoration: none;
        color: black;

    }

    A:hover {
        text-decoration: none;

    }

    .content-area {

        margin: 1.1em 0;

    }

    .nav-area {

        display: none;

    }


      .mobile-menu {

            display: flex;
            display:-webkit-flex;
    
        }


    // p- tag for app

    p {
        font-size: 1rem;
    }


    @media #{$tablet} {

        .nav-area {

            display: flex;
    
        }

        .mobile-menu {

            display: none;
    
        }

    }

    @media #{$desktop} {

        p {
            font-size: 1.2rem;
        }

        .nav-area {

            display: flex;
            margin-top: 1rem;
            margin-bottom: 2rem;
    
        }
        
        .mobile-menu {

            display: none;
    
        }


        
    }

}