header {

	padding-top: 1.2rem;
	padding-bottom: 1rem;

	.header-title-row {

		padding-bottom: 1.5rem;

		h1 {
			font-weight: bold;
			color: #a7323e;
			text-transform: uppercase;
		}

		h2 {
			padding-left: 1rem;
			font-size: 1.8rem;
		}

	}

	.header-line {

		border-bottom: 1px solid #7e63a1;
		margin-bottom: 1.5rem;
	}

	.orange-box {
		height: 15px;
		width: 15px;
		background-color: #d97604;
	}

}