header {
	padding-top: 0.6rem;

	.header-full-row{

		padding-bottom: 15px;
		border-bottom: 1px solid #7e63a1;
		margin-bottom: 15px;
		}

	h2 {
	
		font-size: 1.8rem;
		font-weight: bold;
	}
	
	.orange-box {
		height: 15px;
		width: 15px;
		background-color: #d97604;
	}

}
