header {
	padding-top: 0.6rem;

	h2 {
		padding-bottom: 15px;
		border-bottom: 1px solid #7e63a1;
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 15px;
	}
	
	.orange-box {
		height: 15px;
		width: 15px;
		background-color: #d97604;
	}

}
